# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# Unit test / coverage reports
.coverage
.cache
.pytest_cache/

# IDE-specific settings
.vscode/
.idea/
.spyderproject
.spyproject

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv

# PyCharm
# Uncomment if using PyCharm
#.idea/
